<!DOCTYPE html>
<html>
<head>
<title>Busybpdy helps customers find you | <%= @title  %></title>
</head>
<h1>Busybody Home</h1>
<p>Busybody was developed by <a href="http://rawneed.com">Rawneed, Inc.</a></p>
</body>
</html>
