<h1>Busybody Home</h1>

<p>
 Busybody helps customers find you.
</p>

<p>
 Busybody was developed by 
 <a href="http://rawneed.com">Rawneed, Inc.</a>
</p>

<%=link_to "Sign up now!", signup_path, :class => "signup_button button round"  %>

